@page
@model OdeToFood.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div>
    <p>
        This is being built using Pluralsights online course called ASP.NET Core Fundamentals.
        <br/>
        It was done by Scott Allen however, he has since passed away and the course has not been updated.
        <br/>
        As such there are some difference in my code and my page as compared to the original he has posted.
        <br/>
        Thank you
    </p>
</div>